<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="95.7.14" targetFramework="net472" />
  <package id="cef.redist.x86" version="95.7.14" targetFramework="net472" />
  <package id="CefSharp.Common" version="95.7.141" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="95.7.141" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1020.30" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="WindowsAPICodePack" version="1.1.2" targetFramework="net472" />
</packages>